<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32310">
        <setting id="Show_Adult" type="bool" label="Show Adult Section" defult="false" />
        <setting type="lsep" label="32310" enable="false" />
        <setting id="appearance.alt" type="action" label="32311" default="-" option="close" action="RunPlugin(plugin://plugin.video.temptv/?action=artwork)" visible="!System.HasAddon(script.temptv.artwork)" />
        <setting id="appearance.1" type="select" label="32311" values="Exuary|TempTv" default="TempTv" visible="System.HasAddon(script.temptv.artwork)" />
    </category>
    <category label="32616">
        <setting label="Debugger of Errors" type="lsep" />
        <setting id="addon_debug" type="bool" label="Enable Debug" default="false" />
        <setting id="debug.location" type="enum" label="32617" lvalues="32618|32619" default="0" />
        <setting type="sep" />
        <setting id="Dev" type="bool" label="Dev Extra's" defult="false" />
    </category>
</settings>
